<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.test.mapper.AppraiseMapper">

    <resultMap id="BaseResultMap" type="org.javaboy.test.model.Appraise">
            <result column="id" property="id" jdbcType="INTEGER" />
            <result column="eid" property="eid" jdbcType="INTEGER" />
            <result column="appDate" property="appdate" jdbcType="DATE" />
            <result column="appResult" property="appresult" jdbcType="VARCHAR" />
            <result column="appContent" property="appcontent" jdbcType="VARCHAR" />
            <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAllAppraises" resultMap="BaseResultMap">
        select * from appraise t1 left join t2  on t1.id= t2.;
    </select>
</mapper>