<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.test.mapper.JoblevelMapper">

    <resultMap id="BaseResultMap" type="org.javaboy.test.model.Joblevel">
            <result column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="titleLevel" property="titlelevel" jdbcType="ENUM" />
            <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
            <result column="enabled" property="enabled" jdbcType="BIT" />
    </resultMap>

    <select id="getAllJoblevels" resultMap="BaseResultMap">
        select * from joblevel t1 left join t2  on t1.id= t2.;
    </select>
</mapper>