<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.test.mapper.SalaryMapper">

    <resultMap id="BaseResultMap" type="org.javaboy.test.model.Salary">
            <result column="id" property="id" jdbcType="INTEGER" />
            <result column="basicSalary" property="basicsalary" jdbcType="INTEGER" />
            <result column="bonus" property="bonus" jdbcType="INTEGER" />
            <result column="lunchSalary" property="lunchsalary" jdbcType="INTEGER" />
            <result column="trafficSalary" property="trafficsalary" jdbcType="INTEGER" />
            <result column="allSalary" property="allsalary" jdbcType="INTEGER" />
            <result column="pensionBase" property="pensionbase" jdbcType="INTEGER" />
            <result column="pensionPer" property="pensionper" jdbcType="FLOAT" />
            <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
            <result column="medicalBase" property="medicalbase" jdbcType="INTEGER" />
            <result column="medicalPer" property="medicalper" jdbcType="FLOAT" />
            <result column="accumulationFundBase" property="accumulationfundbase" jdbcType="INTEGER" />
            <result column="accumulationFundPer" property="accumulationfundper" jdbcType="FLOAT" />
            <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAllSalarys" resultMap="BaseResultMap">
        select * from salary t1 left join t2  on t1.id= t2.;
    </select>
</mapper>